@{
    ViewBag.Title = "Index";
}

<html>
<head>
    <title>SelfService</title>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    @*<link href="stylesheets/typeahead.css" rel="stylesheet">*@
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.components.min.css">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="./Scripts/vkbeautify.0.99.00.beta.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>

    </style>
</head>
<body>
    <div id="versionModal" class="ms-Dialog custom-Dialog" >
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main" >
            <button class="ms-Dialog-button custom-back-button" >
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                <span class="ms-font-l">Return to portal homepage</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Select Version</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
                <div class="ms-dialog-actions custom-Dialog-actions">
                    <div>
                        <ul id="versions" class="modalList">
                        </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div id="productModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('versionModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                <p class="ms-Dialog-title">Select Package</p>
                    </div>
                    <div class="ms-Grid-col">
                        <div class="ms-SearchBox">
                            <input id="searchBox" class="ms-SearchBox-field" type="text" placeholder="Search&hellip;"/>
                            <button class="ms-SearchBox-closeButton"></button>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <div class="ms-Dropdown" tabindex="0">
                            <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                            <select id="ddl-FilterOne" class="ms-Dropdown-select">
                                <option>Filter One</option>
                                <option>Test</option>
                            </select>
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <div class="ms-Dropdown" tabindex="0">
                            <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                            <select id="ddl-FilterTwo" class="ms-Dropdown-select">
                                <option>Filter Two</option>
                                <option>Test</option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
                <div class="languages">
                    <ul id="buildsGrid" class="modalList">
                        @*BUILDS GO HERE*@
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="languageModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
            <div class="ms-Dialog-main custom-Dialog-main">
                <button class="ms-Dialog-button custom-back-button" onclick="showModal('productModal')">
                    <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                    <span class="ms-font-l">Back</span>
                </button>
                <div class="ms-Dialog-header">
                    <p class="ms-Dialog-title">Select Languages</p>
                </div>
                <div class="ms-Dialog-inner custom-Dialog-inner">
                    <div class="ms-Grid">
                        <div id="languagesGrid" class="ms-Grid languagesGrid">
                            <div class='ms-Grid-row'>
                                @*LANGUAGES GO HERE*@
                            </div>
                        </div>
                    </div>
                    <div class="ms-dialog-actions custom-Dialog-actions">
                        <div class="languagesContinue">
                            <button class="ms-Dialog-action ms-Button ms-Button--primary" onclick="setLanguage()">
                                <span class="ms-Button-label">Continue</span>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('languageModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Lets make sure you're getting what you need...</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner confirmation-Dialog-inner">
                <p class="ms-font-l">Here's what you are about to download. If this is correct please click the  <b>Confirm</b> button to proceed downloading</p>
                <div class="ms-Grid">
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Office Version:</p>
                        </div>
                        <div class="ms-Grid-col">
                            <p id="versionSpan" class="ms-font-l"></p>
                        </div>
                    </div>
                   <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Product Package:</p>
                        </div>
                       <div class="ms-Grid-col confirmationField">
                           <p id="productSpan" class="ms-font-l"></p>
                       </div>
                    </div>
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Languages:</p>
                        </div>
                        <div class="ms-Grid-col ms-u-lg10">
                            <p id="languageSpan" class="ms-font-l"></p>
                        </div>
                    </div>
            </div>
                <div class=" ms-dialog-actions confirmationActions">
                    <div>
                        <button class="ms-Dialog-action ms-Button ms-Button--primary" onclick="showModal('downloadModal')">
                            <span class="ms-Button-label">Install</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="downloadModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('confirmationModal')">
                @*hide first SVG until bug fixed*@
                <img class="ms-Icon ms-Icon--x hidden"  src="~/Content/imgs/arrow-left-icon.svg"/>
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">You're all set! Your download will begin shortly...</p>
                <hr />
                </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
               <p class="ms-font-l">If your download doesn't start after 10 seconds please download Office <a id="directDL" href="#"></a> here.</p>
            </div>
        </div>
    </div>

    <div id="helpModal" class="ms-Dialog custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class="ms-Dialog-main custom-Dialog-main">
            <button class="ms-Dialog-button custom-back-button" onclick="showModal('versionModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg"/>
                <span class="ms-font-l">Back</span>
            </button>
            <div class="ms-Dialog-header">
                <p class="ms-Dialog-title">Support Page</p>
                <hr />
            </div>
            <div class="ms-Dialog-inner custom-Dialog-inner">
                <div class="questionDiv">
                    <h4 class="ms-font-xl">Question?</h4>
                    <p class="ms-font-m questionAnswer">
                        An Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
                <div class="questionDiv">
                    <h4 class="ms-font-xl">Question?</h4>
                    <p class="ms-font-m questionAnswer">
                        An Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
                <div class="questionDiv">
                    <h4 class="ms-font-xl">Question?</h4>
                    <p class="ms-font-m questionAnswer">
                        An Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
                <div class="questionDiv">
                    <h4 class="ms-font-xl">Question?</h4>
                    <p class="ms-font-m questionAnswer">
                        An Answer. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>