@{
    ViewBag.Title = "Office Self Service";
}

<html>
<head>
    <title>SelfService</title>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.min.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0.1/fabric.components.min.css">

    <script type="text/javascript" src="./Scripts/vkbeautify.0.99.00.beta.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>
    <script src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

</head>
<body>
    <div id="banner" class="customBanner">
        <img id="imgBanner" src="~/Content/imgs/temp_banner.png" />
    </div>

    <div id="productModal" class="custom-Dialog">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class=" custom-Dialog-main">
            <div class="-header custom-header">
                <div class="ms-Grid-row">
                    <div class="ms-Grid-col">
                        <p class="ms-font-xl"><b>Select a Package</b></p>
                    </div>
                    <div class="ms-Grid-col">                       
                        <div id="outerSearchBox" class="ms-SearchBox ms-SearchBox-field custom-SearchBox">
                        </div>
                    </div>
                    <div class="ms-Grid-col">
                        <div class="ms-Dropdown" style="width:150px">
                            <i class="ms-Dropdown-caretDown ms-Icon ms-Icon--caretDown"></i>
                            <select id="ddl-Location" class="ms-Dropdown-select"></select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="-inner custom-Dialog-inner">
                @*<div class="languages">*@
                    <div id="buildsGrid" class="ms-Grid default_list">
                        @*BUILDS GO HERE*@
                        @*<li class='package'>
                            <div class="ms-Callout ms-Callout--OOBE ms-Callout--arrowLeft" style="float:right;width:200px;box-shadow:none;margin-left:-50px;margin-top:-25px;">
                                <div class="ms-Callout-main">
                                    <div class="ms-Callout-header" style="background-color: #0078D7;color:white;">
                                        <p class="ms-Callout-title" style="margin-left:-100px">Tags</p>
                                        <i class="ms-Icon ms-Icon--x" style="float:right;margin-top:-55px;margin-right:-8px;cursor:pointer"></i>
                                    </div>
                                    <div class="ms-Callout-inner" style="max-height:70px;overflow-y:scroll;padding-bottom:10px">
                                        <div class="ms-Callout-content">
                                            <ul id="tags-list" style="list-style-type:none;margin-left:-150px;">
                                                <li>Tag 1</li>
                                                <li>Tag 2</li>
                                                <li>Tag 3</li>
                                                <li>Tag 4</li>
                                                <li>Tag 1</li>
                                                <li>Tag 2</li>
                                                <li>Tag 3</li>
                                                <li>Tag 4</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="package-main">
                                <div class='package-inner'>
                                    <span>
                                        <i class='ms-Icon ms-Icon--people package-people'></i>
                                        <i class='ms-Icon ms-Icon--tag package-tag'></i>
                                    </span>
                                    <p class='ms-font-xl package-label filter-field'><b>IT Pro</b></p><br /><br />
                                    <p class='ms-font-sm package-label package-label-two'>Texas</p>
                                </div>
                                <span class='package-bottom'>
                                    <i class='ms-Icon ms-Icon--download package-download'></i>
                                    <a href='#' class='ms-link'>Install</a>
                                </span>
                            </div>
                        </li>*@
                    </div>
                </div>
            </div>
        </div>
    @*</div>*@

    <div id="languageModal" class=" custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class=" custom-Dialog-main">
            <button class="-button custom-back-button" onclick="showModal('productModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
                <span class="ms-font-l">Back</span>
            </button>
            <div class="-header">
                <p class="-title">Select Languages</p>

            </div>
            <div class="-inner custom-Dialog-inner">
                <div class="ms-Grid">
                    <div id="languagesGrid" class="ms-Grid languagesGrid">
                        <ul class="languageul">
                            @*LANGUAGES GO HERE*@
                        </ul>
                    </div>
                </div>
                <div class="-actions custom-Dialog-actions">
                    <div class="languagesContinue">
                        <button id="languageButton" class="-action ms-Button ms-Button--primary" onclick="setLanguage()" disabled>
                            <span class="ms-Button-label">Continue</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="confirmationModal" class=" custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class=" custom-Dialog-main">
            <button class="-button custom-back-button" onclick="showModal('languageModal')">
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
                <span class="ms-font-l">Back</span>
            </button>
            <div class="-header">
                <p class="-title">Lets make sure you're getting what you need...</p>

            </div>
            <div class="-inner confirmation-Dialog-inner">
                <p class="ms-font-l">Here's what you are about to download. If this is correct please click the  <b>Confirm</b> button to proceed downloading</p>
                <div class="ms-Grid">
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Office Version:</p>
                        </div>
                        <div class="ms-Grid-col">
                            <p id="versionSpan" class="ms-font-l"></p>
                        </div>
                    </div>
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Product Package:</p>
                        </div>
                        <div class="ms-Grid-col confirmationField">
                            <p id="productSpan" class="ms-font-l"></p>
                        </div>
                    </div>
                    <div class="ms-Grid-row">
                        <div class="ms-Grid-col confirmationField">
                            <p class="ms-font-l">Languages:</p>
                        </div>
                        <div class="ms-Grid-col ms-u-lg10">
                            <p id="languageSpan" class="ms-font-l"></p>
                        </div>
                    </div>
                </div>
                <div class=" -actions confirmationActions">
                    <div>
                        <button class="-action ms-Button ms-Button--primary" onclick="showModal('downloadModal')">
                            <span class="ms-Button-label">Install</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="downloadModal" class=" custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        <div class=" custom-Dialog-main">
            <button class="-button custom-back-button" onclick="showModal('confirmationModal')">
                @*hide first SVG until bug fixed*@
                <img class="ms-Icon ms-Icon--x hidden" src="~/Content/imgs/arrow-left-icon.svg" />
                <img class="ms-Icon ms-Icon--x" src="~/Content/imgs/arrow-left-icon.svg" />
                <span class="ms-font-l">Back</span>
            </button>
            <div class="-header">
                <p class="-title">You're all set! Your download will begin shortly...</p>

            </div>
            <div class="-inner custom-Dialog-inner">
                <p class="ms-font-l">If your download doesn't start after 10 seconds please download Office <a id="directDL" href="#"></a> here.</p>
            </div>
        </div>
    </div>

    <div id="helpModal" class=" custom-Dialog hidden">
        @Html.Partial("~/Views/SHared/_banner.cshtml")
        @Html.Partial("~/Views/SHared/_help.cshtml")
    </div>

    <div id="pageFooter" class="custom-footer">

    </div>
</body>
</html>